@font-face {
    font-family: "Minecraftia Regular";
    src: url("https://db.onlinewebfonts.com/t/bf3f245b7cd53caea0cb07d265a64adc.eot");
    src: url("https://db.onlinewebfonts.com/t/bf3f245b7cd53caea0cb07d265a64adc.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bf3f245b7cd53caea0cb07d265a64adc.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/bf3f245b7cd53caea0cb07d265a64adc.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/bf3f245b7cd53caea0cb07d265a64adc.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/bf3f245b7cd53caea0cb07d265a64adc.svg#Minecraftia Regular")format("svg");
}

body {
    font-family: 'Minecraftia Regular';
}